#serch{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
.headserch{
    width: 100%;
    height: 100%;
}
.headserch ul{
    width: 100%;
    height: .98rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
    border-bottom: 1px solid #ccc;
}
.headserch ul li:nth-child(1){
    width: 70%;
    height: .6rem;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 .18rem;
    border-radius: 5px;
    color: #999999;
}
.headserch ul li:nth-child(1) span{
    font-size: .26rem
}
.headserch input{
    width: 80%;
    border: none;
    background: none;
    outline: none;
    margin-left: .18rem;
    font-size: .26rem;
}
header ul li:nth-child(2){
    width: 30%;
    text-align: right
} 
header ul li:nth-child(2) span{
    font-size: .26rem
}
.commone-serach{
    width: 100%;
    font-size: .26rem;
}
.commone-serach p:nth-child(1){
    width: 100%;
    height: .95rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    line-height: .95rem;
    padding:0 .3rem;
    color: #666666;
}
.commone-serach p:nth-child(2){
    width: 100%;
    height: 1.8rem;
    padding: .3rem;

}
.commone-serach ul{
    width: 100%;
    padding-left: .5rem;
    height: 1.8rem;
    overflow: hidden;
}
.search{
    width: 100%;
    font-size: .26rem;
    padding:0 .3rem;
}
.search p{
    width: 100%;
    height: .95rem;
    position: relative;
    line-height: .95rem;
    color: #666666;
}
.search span{
    border: 1px solid #ccc;
    padding: .1rem .2rem;
    font-size: .34rem;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: .3rem;
    margin-right: .3rem;
    color: #666;
}